<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FIX THE HREF BEFORE FINISHING -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{{url_for('static', filename='style.css')}}">
    <title>Yu-Gi-Base Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="container-fluid d-flex">
                <a class="navbar-brand" href="#">Yu-Gi-Base <img class='puzzle'
                        src="{{url_for('static',filename='mp1.png')}}" alt="the puzzle"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Login/Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="card_view">
            <h2 class="name">Blue Eyes</h2>
            <div class="d-flex card_info">
                <h4>ATK:3000</h4>
                <img class='card_hero' src="{{url_for('static',filename='BEWD.jpg')}}" alt="The Blue Eyes White Dragon">
                <h4>DEF:2500</h4>
            </div>
            <h4>Effect/Description:</h4>
            <p class="effect">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus tempora voluptas possimus, in culpa exercitationem facilis non temporibus quam ut, atque velit autem ipsam, quibusdam asperiores repellat. Consequuntur, debitis accusamus tempore ullam qui facere nam at nihil voluptatum inventore eligendi?</p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>